/*app start*/

.newgame:hover{
    background-color: darkblue;
    color: white;
  }
  .newgame{
    background-color: white;
    color: darkblue;
    padding: 20px;
    font-size: 15px;
  }

  .border{
    border-radius: 12px;
    border-style: dotted;
    border-color: gainsboro;
    padding: 10px;
}