/*card*/

.cardimage, .cardbackground{
    width: 200px;
    height: 200px;
  }
  .display{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-right: 200px;
    padding-left: 200px;
  }

  /*front*/
  .card .cardimage{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position:absolute;
  }
  .flip .cardimage{
    transform: rotateY(0deg);
    transition-duration: 150ms;
  }

  /*back*/
  .card .cardbackground{
    transition: all ease-in 0.2s;
    transition-duration: 150ms;
    
  }
  .flip .cardbackground{
    transform: rotateY(90deg);
  }